* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00A651;
    --dim-color: #80D2A8;
    --light-color: #ffffff;
    --web-color: #F0F3F8;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: var(--web-color);
}

a {
    color: var(--dim-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-color);
    padding: 20px
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s
}

.navbar ul li a:hover {
    color: var(--light-color);
}


/* HERO */
.hero {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 400px;
}

.AWIC-logo {
    display: block;
    margin: 0 10px;
    max-width: 100%;
    height: 36px;
}

.dashInfo1 .card p:nth-child(1) {
    font-weight: bold;
    font-size: 1rem;
    color: #64748B;
}

.dashInfo1 .card p:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    color: #1E293B;
}

.dashInfo1 .card p:nth-child(3) {
    font-size: 1rem;
    color: #94A3B8;
}

.dashInfo2 .card p:nth-child(1) {
    font-weight: bold;
    font-size: 2rem;
    color: #1E293B;
}

/* UTILITY CLASSES */
.container {
    max-width: auto;
    margin: 0;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}


/* SEARCH BAR 
.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background-color: #f6f6f6;
}

.search input {
    font-family: "Inter", sans-serif;
    color: #333333;
    font-size: 16px;
    margin-left: 14px;
}
*/

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: #ffffff;
    color: #00A651;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: var(--dim-color);
    color: var(--light-color);
}

.btn-block {
    display: block;
    width: 100%;
}


/* TEXT CLASSES */
.text-xxl {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 30px 20px 20px;
    text-align: left;
}


/* CARDS */
.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.histCard {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.statCard {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashInfo1-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 20px;
}

.dashInfo2-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 30px 20px;
}

.dashInfo2 .histCard {
    height: 500px;
    font-weight: 700;
    font-size: 3rem;
}

.dashInfo2 .statCard {
    height: 500px;
    font-weight: 700;
    font-size: 2rem;
}